body {
  background : linear-gradient(to right, #00aaff, #00ff6c);
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calc-wrapper {
  background-color: white;
  width: 400px;
  border-radius: 16px;
}

.row {
  display: flex;
}

 